extends layout

block header
    include includes/index/header
block homepage
    include includes/index/homepage
block inspiration
    include includes/index/inspiration
block about
    include includes/index/about
block subscribe
    include includes/index/subscribe
block goals
    include includes/index/goals
block callToAction
    include includes/index/callToAction
block javaScript
    include includes/index/javaScript
block footer
    include includes/index/footer
