doctype html
//[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]
//[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]
//[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]
//[if (gte IE 8)|!(IE)]>
html.no-js(lang='en')
    //<![endif]

    head
        //
            Basic Page Needs
            ==================================================
        meta(charset='utf-8')
        title= getText(title, true)
        meta(name="description" content="")
        meta(name="author" content="")
        //
            Mobile Specific Metas
            ==================================================
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

        //
            CSS
            ==================================================
        link(rel='stylesheet' href='css/default.css')
        link(rel='stylesheet' href='css/layout.css')
        link(rel='stylesheet' href='css/media-queries.css')
        link(rel='stylesheet' href='css/animate.css')
        link(rel='stylesheet' href='css/prettyPhoto.css')

        //
            Script
            ==================================================
        script(src='js/modernizr.js')
        //Favicons
            ==================================================
        link(rel='shortcut icon' href='favicon.png')

    body
        #preloader
            #status
                img(src='images/preloader.gif', height='64', width='64', alt='')

        block header

        block homepage

        block inspiration

        block about

        block subscribe

        block goals

        block callToAction

        block javaScript

        block footer