doctype html
html.no-js(lang='en')
    head
        //
          - Basic Page Needs
          ==================================================
        meta(charset='utf-8')
        title G-Landia - Profile Page
        meta(name='description', content='')
        meta(name='author', content='inkyotogrand')
        //
          Mobile Specific Metas
          ==================================================
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        //
          CSS
          ==================================================
        link(rel='stylesheet', href='css/default.css')
        link(rel='stylesheet', href='css/layout.css')
        link(rel='stylesheet', href='css/media-queries.css')
        link(rel='stylesheet', href='css/animate.css')
        //
          Favicons
          ==================================================
        link(rel='shortcut icon', href='favicon.ico')
    body
        //
          Header
          ==================================================
        header
            .logo
                a.smoothscroll(href='')
                    img(alt='', src='images/logo.png')
            nav#nav-wrap
                a.mobile-btn(href='#nav-wrap', title='Show navigation') Show Menu
                a.mobile-btn(href='#', title='Hide navigation') Hide Menu
                ul#nav.nav
                    li
                        a(href='')
                            i.fa.fa-user
                            |             Account
                    li
                        a(href='')
                            i.fa.fa-cog.fa-fw
                            | Settings
                    li
                        a(href='')
                            i.fa.fa-envelope-o
                            |              Messages
                // end #nav
            // end #nav-wrap
            ul.header-social
                li Log out
                i.fa.fa-angle-down
        // Header End
        //
          Homepage Main Container
          ==================================================
        section#main-container
            .row
                //
                  Profile Block
                  ==================================================
                .four.columns
                    .profile.block
                        // PROFILE (MIDDLE-CONTAINER)
                        .profile-picture.big-profile-picture.clear
                            img(width='150px', alt='user picture', src='images/user.jpg')
                        h1.user-name Ivan Ivanov
                        .profile-description
                            h2.country Russia
                            h3.points
                                | My G's:
                                b 821
                            h3.points
                                | G's for Charity:
                                b 234
                // GOALS TABLE
                .eight.columns
                    table
                        #head_nav
                            tr
                                th Goals/Days
                                th Monday
                                th Tuesday
                                th Wednesday
                        tr
                            th Didn't Lie
                            td
                                input#test30(type='checkbox')
                                label(for='test30') yes
                                input#test31(type='checkbox')
                                label(for='test31') no
                            td
                                input#test32(type='checkbox')
                                label(for='test32') yes
                                input#test33(type='checkbox')
                                label(for='test33') no
                            td
                                input#test34(type='checkbox')
                                label(for='test34') yes
                                input#test35(type='checkbox')
                                label(for='test35') no
                tr
                    th
                        | Didn't Smoke
                        td
                            input#test36(type='checkbox')
                            label(for='test36') yes
                            input#test37(type='checkbox')
                            label(for='test37') no
                        td
                            input#test38(type='checkbox')
                            label(for='test38') yes
                            input#test39(type='checkbox')
                            label(for='test39') no
                        td
                            input#test40(type='checkbox')
                            label(for='test40') yes
                            input#test41(type='checkbox')
                            label(for='test41') no
            tr
                th
                    | Went Jogging
                    td
                        input#test42(type='checkbox')
                        label(for='test42') yes
                        input#test43(type='checkbox')
                        label(for='test43') no
                    td
                        input#test44(type='checkbox')
                        label(for='test44') yes
                        input#test45(type='checkbox')
                        label(for='test45') no
                    td
                        input#test46(type='checkbox')
                        label(for='test46') yes
                        input#test47(type='checkbox')
                        label(for='test47') no
            tr
                th
                    | Studied Math
                    td
                        input#test48(type='checkbox')
                        label(for='test48') yes
                        input#test49(type='checkbox')
                        label(for='test49') no
                    td
                        input#test50(type='checkbox')
                        label(for='test50') yes
                        input#test51(type='checkbox')
                        label(for='test51') no
                    td
                        input#test52(type='checkbox')
                        label(for='test52') yes
                        input#test53(type='checkbox')
                        label(for='test53') no
            tr
                th
                    | Read a Book
                    td
                        input#test54(type='checkbox')
                        label(for='test54') yes
                        input#test55(type='checkbox')
                        label(for='test55') no
                    td
                        input#test56(type='checkbox')
                        label(for='test56') yes
                        input#test57(type='checkbox')
                        label(for='test57') no
                    td
                        input#test58(type='checkbox')
                        label(for='test58') yes
                        input#test59(type='checkbox')
                        label(for='test59') no
            .row
                .four.columns
                    .offers.block
                        // OFFERS SECTION
                        h2.titular Special Offers
                        .main
                            .portfolio
                                section.portfolio_items
                                    figure.portfolio_item
                                        img(src='http://www.resolutionsmile.com/wp-content/uploads/special-offers.gif', alt='offer')
                                    figure.portfolio_item
                                        img(src='http://www.resolutionsmile.com/wp-content/uploads/special-offers.gif', alt='offer')
                                    figure.portfolio_item
                                        img(src='http://www.resolutionsmile.com/wp-content/uploads/special-offers.gif', alt='offer')
                        h2.titular Motivators of the Day
                        .main
                            .portfolio
                                section.portfolio_items
                                    figure.portfolio_item
                                        img(src='https://upload.wikimedia.org/wikipedia/commons/9/94/Old_Nike_logo.jpg', style='height:180px; width:400px;')
                                    figure.portfolio_item
                                        img(src='https://upload.wikimedia.org/wikipedia/commons/9/94/Old_Nike_logo.jpg', style='height:180px; width:400px;')
                                    figure.portfolio_item
                                        img(src='https://upload.wikimedia.org/wikipedia/commons/9/94/Old_Nike_logo.jpg', style='height:180px; width:400px;')
                .eight.columns
                    .global-goals.block
                        // GLOBAL GOALS
                        .global-goals-container
                            h2.titular Global Goals
                        p.goal 26
                        a.add-event.button(href='#27') Add Your Win
            // Homepage Main End
        //
          Footer
          ==================================================
        section#footer
            footer
                p.copyright © 2015 G-Landia | Made in St-Petersburg, Russia
                // Row End
        // Footer End
