//
      About Section
      ==================================================
section#about
    .row.feature.steps
        .six.columns.right
            h3 How does G-Landia work?
            p
                | The first project of G-Landia is called “G-Olympics”. People around the world are invited to represent and lead their countries by: Choosing and improving qualities and habits they consider most important for them. Choosing motivators (both local and global companies) interested in helping general people to become more loyal, healthy, happy, wealthy, caring, sincere, etc, etc. Supporting Charity Funds that care about our Planet and us the most. As soon as you make 3 simple choices, the program will automatically create your personal page which will show your daily progress and how it contributes to Good Global Goals project. It will also allow you to collect your “G”s (Rewards), that can be used for many purposes later.
        .six.columns.feature-media.left
            img(src='images/feature-image-1.png', alt='profilepage')
    .row.feature.choose
        .six.columns.left
            h3 Choose Your Personal Goals
            p
                | “Conquer yourself and you will win thousands of battles”
                cite -Buddha
            p
                | No one but you knows what’s best for your life, however we have made a LIST of most common
                b GOALS
                |  for you to choose from.  Be it giving up smoking, losing weight or traveling the world together with your loved one… It doesn’t matter! What matters is your WILL to play and to be. There are more than 50 exciting ready
                b GOALS
                |  that will spark your hidden powers making you to surmount more and more new heights. Good Luck!
        .six.columns.feature-media.right
            img(src='images/feature-image-2.png', alt='goals')
    .row.feature.motivators
        .six.columns.right
            h3 Choose Companies that Care
            p
                | 21-st century has brought new challenges to global economies and businesses. USD trillion spent annually on advertising gives people not just another unneeded expense, but is also a source of irritation and unsatisfaction. Many advertised goods and services are not appropriate for people, others are simply not affordable. Not being able to know peoples real wishes and needs makes marketing inefficient and very expensive. All organizations in the world want their clients to be brand-loyal, rich, happy, long-living, successful. G-Landia collects your “
                b MOTIVATION REQUESTs
                | ” and sends them directly to chosen companies, celebrities, politicians or even religious leaders. We know that those organizations that offer more motivation and real care to their current or potential clients will always be highly respected and rewarded. As for G-Landia, all MOTIVATORS participating and helping people to improve their lives are guaranteed free advertising (according to peoples key interests).
        .six.columns.feature-media.left
            img(src='images/feature-image-3.png', alt='motivators')
    .row.feature.charities
        .six.columns.left
            h3 Choose Charities that Care
            p
                | Tell us about the charities who support the same causes you support, be it ending world hunger, finding the cure to cancer, or taking care of the elderly, and we will ask for our motivators and sponsoring companies to donate to those charity funds, and together we will make the world a better place.
        .six.columns.feature-media.left
            img(src='images/feature-image-4.png', alt='charities')
// About Section end