//
      Call To Action
      ==================================================
section#call-to-action
    .row
        .two.columns.header-col
            img(src='images/help.png')
        .five.columns
            h2 Support the project.
            p
                | Every little donation brings us closer to our dream. We are grateful for any help.
        .three.columns.action
            a.button(href='') Make Donation
// Call To Action End