//Footer
    ==================================================
section#footer
    footer
        .row
            .six.columns.info
                .footer-logo
                    a(href='#')
                        img(src='images/logo.png', alt='')
                p
                    | This is the version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                    | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                    | nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
            .six.columns.right-cols
                .row
                    .columns
                        h3.address Info
                        ul
                            li
                                a(href='#') F.A.Q
                            li
                                a(href='#') Privacy Policy
                            li
                                a(href='#') Terms & Conditions
                    .columns
                        h3.social Social
                        ul
                            li
                                a(href='#') Facebook
                            li
                                a(href='#') Twitter
                            li
                                a(href='#') VKontakte
                    .columns.last
                        h3.contact Contact Us
                        ul
                            li
                                a(href='tel:6473438234') 7.911.952.8967
                            li
                                a(href='tel:1234567890') 123.456.7890
                            li
                                a(href='mailto:someone@woo.com') someone@glandia.com
                // Nested Row End
            p.copyright © 2015 G-Landia | Made in St-Petersburg, Russia
            #go-top
                a.smoothscroll(title='Back to Top', href='#main')
                    i.icon-up-open
        // Row End


