// Goals ==================================================
section#goals
    .row.section-head
        h1 Something Goes Here
        p
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            | eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            | voluptatem quia voluptas sit aspernatur aut odit aut fugit.
    .row
        .twelve.columns
            // Goals-Wrapper
            #goals-wrapper.bgrid-quarters.s-bgrid-thirds.cf
                .columns.item
                    .item-wrap
                        a(href='images/screenshots/big/b-line-icons.jpg', data-imagelightbox='a')
                            img(src='images/screenshots/line-icons.jpg', alt='Line Icons')
                            .overlay
                            .link-icon
                                i.icon-plus
                // item end
                .columns.item
                    .item-wrap
                        a(href='images/screenshots/big/b-hipster.jpg', data-imagelightbox='a')
                            img(src='images/screenshots/hipster.jpg', alt='Hipster')
                            .overlay
                            .link-icon
                                i.icon-plus
                // item end
                .columns.item
                    .item-wrap
                        a(href='images/screenshots/big/b-authentic-vintage.jpg', data-imagelightbox='a')
                            img(src='images/screenshots/authentic-vintage.jpg', alt='Authentic Vintage')
                            .overlay
                            .link-icon
                                i.icon-plus
                // item end
                .columns.item
                    .item-wrap
                        a(href='images/screenshots/big/b-spot-uv-logo.jpg', data-imagelightbox='a')
                            img(src='images/screenshots/spot-uv-logo.jpg', alt='Spot UV Logo')
                            .overlay
                            .link-icon
                                i.icon-plus
                // item end
                .columns.item
                    .item-wrap
                        a(href='images/screenshots/big/b-tshirt-mockup.jpg', data-imagelightbox='a')
                            img(src='images/screenshots/tshirt-mockup.jpg', alt='TShirt Mockup')
                            .overlay
                            .link-icon
                                i.icon-plus
                // item end
                .columns.item
                    .item-wrap
                        a(href='images/screenshots/big/b-abstract-vector.jpg', data-imagelightbox='a')
                            img(src='images/screenshots/judah.jpg', alt='Abstract Vector')
                            .overlay
                            .link-icon
                                i.icon-plus
                // item end
                .columns.item
                    .item-wrap
                        a(href='images/screenshots/big/b-embossed-paper.jpg', data-imagelightbox='a')
                            img(src='images/screenshots/embossed-paper.jpg', alt='Embossed Paper')
                            .overlay
                            .link-icon
                                i.icon-plus
                // item end
                .columns.item
                    .item-wrap
                        a(href='images/screenshots/big/b-judah.jpg', data-imagelightbox='a')
                            img(src='images/screenshots/abstract-vector.jpg', alt='Judah')
                            .overlay
                            .link-icon
                                i.icon-plus
                // item end
            // portfolio-wrapper end
        // twelve columns end
    // end row
// Goals End
