//
      Header
      ==================================================
header
    .logo
        a.smoothscroll(href='#main')
            img(alt='', src='images/logo.png')
    nav#nav-wrap
        a.mobile-btn(href='#nav-wrap', title='Show navigation') Show Menu
        a.mobile-btn(href='#', title='Hide navigation') Hide Menu
        ul#nav.nav
            li
                a.smoothscroll(href='#about') About Us
            li
                a.smoothscroll(href='#inspiration') Why Join?
            li
                a.smoothscroll(href='#goals') G-Olympics
            li
                a.smoothscroll(href='#call-to-action') Support
            // end #nav
               end #nav-wrap
    ul.header-social
        li.button-login Login
// Header End
