//
      Homepage Main
      ==================================================
section#main
    .row
        .seven.columns
            .main-text
                h1.responsive-headline The Land of Good
                p
                    | It’s a community of people, businesses, celebrities, politicians and many others willing to improve in all spheres and share care with each other.
                p
                    | G-Landia is created for the sake of our Planet, Children and their Future. Everyone here   is united by genuine values and standards which make our world a better place. Everything is done here in an exciting Global Game Way where people compete in Good.
            .buttons
                a.button.subscribe.smoothscroll(href='#subscribe') Join Today
                a.button.learn-more.smoothscroll(href='#about') Learn More
        .five.columns.main-media
            img(src='images/global-image.png', alt='')
// Homepage Main End