//
      Inspiration Section
      ==================================================
section#inspiration
    .row.content
        .text-container
            .twelve.columns
                h1 Why is it important to join now?
            .twelve.columns.flex-container
                .flexslider
                    ul.slides
                        li
                            blockquote
                                p
                                    | To get a quick positive world-wide effect in all social spheres (environment, children, health, education, safety and many others).
                        // slide ends
                        li
                            blockquote
                                p
                                    | To make G-Landia more attractive for motivators, so they can share their care with larger numbers of people.
                // div.flexslider ends
            // div.flex-container ends
        // text-container ends
    // row ends
// Inspiration Section End