//
      Subscribe
      ==================================================
section#subscribe
    .row.section-head
        .twelve.columns
            h1 Start Improving Today!
            p
                | Joining G-Landia is very easy.
                | Enter your e-mail address and check your inbox, we'll send you a message asking to confirm us that you are real. Click the link, tell us a little bit more about yourself and you are ready to go.
    .row
        .twelve.columns
            // Begin MailChimp Signup Form
            #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='http://facebook.us8.list-manage.com/subscribe/post?u=cdb7b577e41181934ed6a6a44&id=e65110b38d', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                    input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='your email', required='')
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;')
                        input(type='text', name='b_cdb7b577e41181934ed6a6a44_e65110b38d', value='')
                    .clear
                        input#mc-embedded-subscribe.button(type='submit', value='Join', name='subscribe')
            p
                small
                    | By signing up, you confirm you have read and accept our
                    a(href='terms.html') Terms & Conditions
                    | .
// Subscribe Section End